* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*PAGINA DE LOGIN*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
}

.container {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background: white;

    width: 350px;

    padding: 30px;

    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-card h1 {
    text-align: center;

    color: #c1121f;

    margin-bottom: 20px;
}
.login-card img{
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
     display: block;
     margin: 0 auto 20px auto;
}

form {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

input {
    padding: 12px;

    border: 1px solid #ccc;

    border-radius: 5px;
}

button {
    padding: 12px;

    border: none;

    background: #c1121f;

    color: white;

    border-radius: 5px;

    cursor: pointer;

    font-size: 16px;
}

button:hover {
    background: #a50f1a;
}
#mensagem {
    text-align: center;

    font-size: 14px;

    margin-top: 10px;
}

.erro {
    color: red;
}

.sucesso {
    color: green;
}
.dashboard {
    display: flex;

    min-height: 100vh;
}
/*DASHBOARD DA PAGINA ADMINISTRATIVA*/

.sidebar {
    width: 250px;

    background: #c1121f;

    color: white;

    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 30px;

    text-align: center;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 15px;

    border-radius: 5px;

    cursor: pointer;

    margin-bottom: 10px;
}

.sidebar li:hover {
    background: rgba(255,255,255,0.2);
}

.conteudo {
    flex: 1;

    padding: 30px;
}

.cards {
    margin-top: 30px;

    display: flex;

    gap: 20px;
}

.card {
    background: white;

    padding: 20px;

    width: 200px;

    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card h3 {
    color: #c1121f;

    margin-bottom: 10px;
}


/*PAGINA DE CADASTRO DE ALUNOS*/
.pagina-alunos {

    max-width: 1000px;

    margin: 40px auto;

    background: white;

    padding: 30px;

    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#formAluno {
    display: flex;

    gap: 10px;

    margin: 20px 0;
}

table {
    width: 100%;

    border-collapse: collapse;

    background: white;
}

th,
td {
    border: 1px solid #ddd;

    padding: 12px;

    text-align: left;
}

th {
    background: #c1121f;

    color: white;
}

.btn-remover {
    background: red;

    color: white;

    border: none;

    padding: 8px 12px;

    border-radius: 5px;

    cursor: pointer;
}
#formAluno input,
#formAluno select {

    padding: 12px;

    border: 1px solid #ccc;

    border-radius: 5px;

    width: 100%;
}
#formAluno button {

    background: #c1121f;

    color: white;

    border: none;

    padding: 12px;

    border-radius: 5px;

    cursor: pointer;

    transition: 0.3s;
}
#formAluno button:hover {

    background: #780000;
}
.Pendente {
    color: orange;
    font-weight: bold;
}

.Activo {
    color: green;
    font-weight: bold;
}