.pagina-alunos {

    max-width: 1000px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#formAluno {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

#formAluno input,
#formAluno select {

    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

#formAluno button {

    background: #c1121f;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#formAluno button:hover {
    background: #780000;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background: #c1121f;
    color: white;
}

.btn-remover {
    background: red;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.Pendente {
    color: orange;
    font-weight: bold;
}

.Activo {
    color: green;
    font-weight: bold;
}